.main {
    grid-area: main;
    max-width: 100vw;
    background-color: #f3efe6;
    display: grid;
    grid-template: 1fr / 1fr minmax(100px, 2fr) 6fr minmax(100px, 2fr) 1fr;
}
@media(max-width: 426px) {
    .main {
        display: block;
    }
}