.nav {
    grid-column: 2/3;
    background-color: none;
    display: grid;
    grid-auto-rows: 40px;
}
@media(max-width: 769px) {
    .nav {
        display: none;
    }
}

.nav a {
    padding-top: 8px;
    text-align: center;
    vertical-align: bottom;
    color: black;
    text-decoration-line: none;
    font-size: 14px;
}

.nav a:hover {
    background-color: #c7e6f3;
}

.icon {
    display: inline;
    margin-right: 10px;
}
