.nav {
    background-color: none;
    display: grid;
    grid-auto-rows: 40px;
}

.nav a {
    padding-top: 8px;
    text-align: center;
    vertical-align: bottom;
    color: black;
    text-decoration-line: none;
}

.nav a:hover {
    background-color: #e5be5f;
}

.nav a:first-child {
    padding-top: 8px;
}
