.profileInfo {
    min-height: 100%;
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    margin: 10px;
}

.photoBox {
    position: relative;
    width: 100%;
}

.photo {
    position: absolute;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translateX(-50%);
}

.profileInfo .gridBox {
    padding: 0 10px;
}