.profileInfo {
    min-height: 100%;
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    margin: 10px;
}
@media(max-width: 426px) {
    .profileInfo {
        display: block;
        margin: 10px auto;
    }
}

.photoBox {
    display: flex;
    justify-content: center;
}

.photo {
    max-width: 100%;
}

.photo img {
    max-width: 100%;
}

.profileInfo .infoBox {
    padding: 10px 10px;
}

.profileInfo .infoBox .contacts {
    margin-left: 10px;
}

.profileInfo a {
   word-wrap: break-word;
}

.button {
    background-color: #7dbdf8;
    cursor: pointer;
}

.changePhotoButton {
    opacity: 0;
    z-index: -1;
    overflow: hidden;
}

.photo .label {
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    position: relative;
    top: -8px;
}