.header {
    grid-area: header;
    background-color: #7dbdf8;
    display: grid;
    grid-template: 1fr / repeat(6, 1fr);
}

.loginButton {
    grid-column: 5/6;
    padding: 5px;
}
@media(max-width: 426px) {
    .loginButton {
        display: none;
    }
}

.loginButton button {
    background-color: #f0daa4;
    float: right;
    cursor: pointer;
}

.loginButton button:active {
    background-color: #be9e4c;
}

.menuBurger {
    display: none;
}
@media(max-width: 426px) {
    .menuBurger {
        display: block;
        grid-column: 6/7;
        padding: 5px;
        max-width: 100%;
    }
}

.menuBurger .burger {
    max-width: 50%;
    height: 2px;
    background-color: #f0daa4;
    position: relative;
    top: 40%;
    left: 25%;
}

.menuBurger .burger::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #f0daa4;
    position: relative;
    top: 10px;
}

.menuBurger .burger::before {
    content: "";
    display: block;
    height: 2px;
    background-color: #f0daa4;
    position: relative;
    top: -12px;
}

.menuBurger .menuList {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #f0daa4;
    border: 1px solid black;
    overflow: hidden;
    z-index: -1;
    width: 0px;
    transition: all 0.3s ease-in;
}

.menuBurger .menuList a {
    text-align: center;
    vertical-align: bottom;
    color: black;
    text-decoration-line: none;
}

.menuBurger .menuList a div {
    padding-top: 8px;
}

.menuBurger .menuList a div:last-child {
    padding-bottom: 8px;
}

.menuBurger:hover .menuList {
    z-index: 1;
    width: 180px;
}