.gridBox {
    display: grid;
    grid-template: 25px 40px 30px 25px 40px 30px / 1fr;
    width: 300px;
    min-height: 300px;
    margin: auto 25%;
}
@media(max-width: 426px) {
    .gridBox {
        margin: auto;
    }
}

.gridBox label {
    padding-left: 10px;
}

.gridBox button {
    background-color: #6eaad5;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
}
.gridBox button:active {
    background-color: #6ad8a7;
}

.gridBox img {
    height: 60px;
    margin: 5px auto 5px;
}

.gridBox .error {
    color: red;
    padding-left: 10px;
}
