.App {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-rows: min(700px);
  grid-template-columns: 2fr 28fr 2fr;
}

.App .content {
  grid-area: center;
  background-color: rgb(68, 146, 146);
}
