
/*icons*/
@import url(https://weloveiconfonts.com/api/?family=brandico|entypo|zocial);

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
/**********/

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template: minmax(50px, auto) 1fr minmax(50px, auto) / 1fr;
  grid-template-areas: "header" "main" "footer";
}

